@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>登  录</title>

    <link href="~/Content/Css/_reset.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background-image: url('http://pic2.ooopic.com/10/52/37/76b1OOOPICcd.jpg');
        }

        .content {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 400px;
            height: 300px;
            box-shadow: 0px 0px 50px #666;
            background-color: rgb(250,250,250);
        }

            .content h1 {
                font-size: 40px;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 40px;
                letter-spacing: 100px;
                text-indent: 110px;
                font-family: 'Source Han Sans', Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, Heiti, sans-serif;
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                color: rgb(51, 51, 51);
            }


        .txt {
            width: 200px;
            height: 35px;
            margin-left: 105px;
            margin-bottom: 20px;
        }

        #btnLogin {
            width: 200px;
            height: 35px;
            margin-left: 105px;
            letter-spacing: 50px;
            text-indent: 50px;
            font-family: 'Source Han Sans', Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, Heiti, sans-serif;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 16px;
        }
    </style>

</head>
<body>
    <div class="content">
        <h1>欢迎</h1>
        <input class="txt" type="text" id="txtLoginName" placeholder="用户名" />
        <input class="txt" type="password" id="txtLoginPwd" placeholder="密码" />
        <br />
        <input type="button" id="btnLogin" value="登录" onclick="Welcome.Login()" />
    </div>

    <script src="~/Content/Scripts/jquery-3.0.0.js"></script>
    <script type="text/javascript">
        var Welcome = {
            Login: function () {
                var loginname = $("#txtLoginName").val();
                var loginpwd = $("#txtLoginPwd").val();

                $.ajax({
                    url: "/Admin/Welcome/Login",
                    type: "POST",
                    dataType: "Json",
                    data: { loginname: loginname, loginpwd: loginpwd },
                }).done(function (data) {
                    alert(data);
                });
            }
        }
    </script>
</body>
</html>