<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        @ViewBag.Article.Title
    </h1>
    <div>
        @Html.Raw(ViewBag.Article.Content)
    </div>
</body>
</html>
