<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>列表渲染</title>
</head>
<body>


<h1>v-for="item in items"</h1>
<ul>
	<li v-for="item of items">
		{{ parentMessage}} - {{ $index }} - {{ item.message }}
	</li>
</ul>

<h1>v-for="item <span style="color:red; font-weight:bolder;">of</span> items"</h1>
<ul>
	<li v-for="item of items">
		{{ parentMessage}} - {{ $index }} - {{ item.message }}
	</li>
</ul>

<h1>v-for="(index,item) of items"</h1>
<ul>
	<li v-for="(index,item) of items">
		{{ parentMessage}} - {{ index }} - {{ item.message }}
	</li>
</ul>

<h1>v-for in template</h1>
<ul>
	<template v-for="item in items">
		<li>{{ item.message }}</li>
		<li class="divider"></li>
	</template>
</ul>

<h1>v-for object</h1>
<ul>
	<li v-for="(key, value) in user">
		{{ key }} : {{ value }}
	</li>
</ul>

<h1>v-for numeric</h1>
<span v-for="n in 15">{{ n }},</span>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el: 'html',
		data: {
			parentMessage: 'Parent',
			items: [
				{ message: 'Foo' },
				{ message: 'Bar' }
			],
			user: {
				uid: 1,
				name: '雪霜茂茂',
				time: new Date()
			},
		}
	});
</script>
</body>
</html>

