@using System.Web.Optimization;
@section style {
    @Styles.Render("~/bundles/simditor/Css")
    <style type="text/css">
        .simditor-icon {
            line-height: 40px !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <input id="title" name="title" type="text" class="form-control" placeholder="文章标题">
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <textarea id="content" name="content" class="form-control" rows="10" placeholder="文若流沙,思若泉涌"></textarea>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-3">
        <select id="category" class=" form-control">
            <option value="0">- - -文章分类- - -</option>
            <option value="1">生活随笔</option>
            <option value="2">Html / Css</option>
            <option value="3">C# & .net</option>
        </select>
    </div>
    <div class="col-md-9">
        <input id="tag" name="tag" type="text" class="form-control" placeholder="标签 (,)逗号分隔">
    </div>
</div>
<br />

<button id="btn_pub" class="btn btn-default btn-lg">发布</button>
<br />
<br />

@section script {
    @Scripts.Render("~/bundles/simditor/JS")

    <script type="text/javascript">
        $(function () {
            var editor = new Simditor({
                textarea: $('#content')
            });

            $('#btn_pub').click(function () {
                var data = {
                    title: $('#title').val(),
                    content: editor.getValue(),
                    categoryid: $('#category').val(),
                    tag: $('#tag').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Article/Edit',
                    data: data
                }).done(function (data) {
                    alert(data.Message);
                });

            });

        });

    </script>
}