@using Blog.Models

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th style="width:10%">发表时间</th>
                    <th style="width:10%">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var articles = ViewBag.Articles as List<Article>;
                    if (articles == null || articles.Count == 0)
                    {
                        <tr>
                            <td colspan="3" style="text-align:center;background-color:#fffc79;"><em>暂无数据</em></td>
                        </tr>
                    }
                    else
                    {
                        foreach (Article item in ViewBag.Articles)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td><em title="@item.CreateTime">@item.CreateTime.ToString("yyyy-MM-dd")</em></td>
                                <td>
                                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                                </td>
                            </tr>
                        }
                    }

                }


            </tbody>
        </table>
    </div>
</div>