@using Blog.Models

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th style="width:10%">发表时间</th>
                    <th style="width:10%">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Article item in ViewBag.Articles)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td><em title="@item.CreateTime">@item.CreateTime.ToString("yyyy-MM-dd")</em></td>
                        <td>
                            @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>